html,
body {
  font-size: 2vh;
  color: white;
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: black;
}

h2 {
  font-size: 1.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: orange;
}

button {
  cursor: pointer;
  font-weight: 500;
  height: 5.5vh;
}

/* SUCCESS PAGE */
.successContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: hsl(0, 100%, 100%) 100%;
  background: -moz-linear-gradient(
    top,
    hsl(0, 100%, 100%) 0%,
    hsl(0, 100%, 100%) 100%
  );
  background: -webkit-linear-gradient(
    top,
    hsl(0, 100%, 100%) 0%,
    hsl(0, 100%, 100%) 100%
  );
  background: linear-gradient(
    to bottom,
    hsl(0, 100%, 100%) 0%,
    hsl(0, 100%, 100%) 100%
  );
  /* color: rgb(0, 0, 0) !important; */

  /* -webkit-text-fill-color: rgb(0, 0, 0) !important; */
  text-align: center;
}

.successWrapper {
  position: absolute;
  /* color: hsla(0, 0%, 0%, 1) !important; */
  bottom: 0;
  width: 100%;
  margin-bottom: 15vh;
}

.success {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  /* mix-blend-mode: difference; */
  /* color: hsla(0, 0%, 0%, 1); */
  /* -webkit-text-fill-color: hsla(0, 0%, 0%, 1); */
}

.venue {
  font-size: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* color: hsla(0, 0%, 0%, 1); */

  /* -webkit-text-fill-color: hsla(0, 0%, 0%, 1); */
  /* mix-blend-mode: difference; */
}

.time {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  /* -webkit-text-fill-color: rgb(0, 0, 0) !important; */
  /* mix-blend-mode: difference; */
}

.blurb {
  /* -webkit-text-fill-color: rgb(0, 0, 0) !important; */
  /* mix-blend-mode: difference; */
  font-size: 1.2rem;
  padding-left: 7%;
  padding-right: 7%;
}

.textWrapper {
  color: hsla(0, 0%, 0%, 1);
  -webkit-text-fill-color: hsla(0, 0%, 0%, 1);
  /* mix-blend-mode: darken; */
}

.successIcon {
  width: 12vh;
  height: 12vh;
}

.bottomButtons {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.fakeButton {
  background: -moz-linear-gradient(
    top,
    hsla(207, 100%, 40%, 1),
    hsla(207, 100%, 40%, 1)
  );
  background: -webkit-linear-gradient(
    top,
    hsla(207, 100%, 40%, 1),
    hsla(207, 100%, 40%, 1)
  );
  background: linear-gradient(
    to bottom,
    hsla(207, 100%, 40%, 1),
    hsla(207, 100%, 40%, 1)
  );
  background-color: hsla(207, 100%, 40%, 1);
  color: white;
  width: 80%;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  margin-bottom: 2rem;
  padding: 0.7rem 1rem;
  box-shadow: 1px 1px 4px #888;
}

.cancel {
  color: #0072ce;
  text-align: center;
  font-size: 1.1rem;
  padding: 0.2rem 0;
  font-weight: 500;
}

/* QR Reader */

video {
  position: absolute;
  min-height: 100%;
  filter: brightness(0.4);
  height: auto;
}

.qrReaderDescription {
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  font-size: 1.1rem;
}

.descriptionText {
  padding-left: 4vw;
  padding-right: 4vw;
}

/* General */
.closeIcon {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 1000;
  height: 1.8rem;
  cursor: pointer;
}

/* Icons */
.infoIcon {
  height: 2.3rem;
  vertical-align: middle;
}

.aboutIcon {
  height: 5vh;
}

.shareIcon {
  margin-top: 5px;
  height: 4vh;
  vertical-align: middle;
  cursor: pointer;
}

.githubIcon {
  margin-left: 0.25rem;
  height: 1.5rem;
  vertical-align: middle;
}

.telegramIcon {
  margin-right: 0.25rem;
  height: 1.5rem;
  vertical-align: middle;
}

.backArrowIcon {
  vertical-align: middle;
  height: 2.5rem;
}

.drawer {
  display: flex;
  height: 90%;
  opacity: 0.8;
  padding: 2rem;
  font-weight: bold;
  flex-direction: column;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  padding: 1vh;
  margin-bottom: 1vh;
}

.menuItem {
  margin-bottom: 2rem;
}

.menuFooter {
  text-align: center;
  /* font-weight: 400; */
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 1.5rem;
}

.about li {
  padding: 0;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.overlay {
  border-radius: 15px;
  height: 35vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0, 0%, 100%) 100%;
  background: -moz-linear-gradient(
    top,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 0%, 100%) 100%
  );
  background: -webkit-linear-gradient(
    top,
    hsl(0, 100%, 100%) 0%,
    hsl(0, 100%, 100%) 100%
  );
  background: linear-gradient(
    to bottom,
    hsl(0, 100%, 100%) 0%,
    hsl(0, 100%, 100%) 100%
  );
  color: white;
  font-weight: 600;
  margin: auto;
  margin-top: 3rem;
  mix-blend-mode: overlay;
  /* filter: invert(100%); */
  text-align: center;
}

.menu {
  height: 100%;
  align-content: space-between;
}

.aboutContainer {
  overflow: auto;
  font-size: 2vh;
  margin-top: 1rem;
  padding: 1.5rem;
  opacity: 0.8;
  height: 100vh;
  word-wrap: break-word;
  position: relative;
  text-align: center;
}

.aboutContainer::-webkit-scrollbar {
  display: none;
}

.container {
  min-height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.item {
  flex: 0 0 auto;
  margin: 9px;
  cursor: pointer;
}

.crypto {
  padding-bottom: 1rem;
}

.paypalButton {
  padding-top: 3rem;
}

.about {
  margin-left: 10vw;
  text-align: left;
}

ul.about {
  list-style: circle;
}

.footer {
  padding: 1rem;
}

.footerText {
  margin-left: 12px;
}

.input-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95vw;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.input-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.input-box .venue-box {
  text-align: center;
  position: relative;
}

.input-box .venue-box input {
  width: 90%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.input-box .venue-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.input-box .venue-box input:focus ~ label,
.input-box .venue-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.donate {
  padding: 1rem;
}

.versionNumber {
  opacity: 0.5;
  padding-bottom: 5rem;
}

.selectedCamera {
  opacity: 1;
}

.camera {
  opacity: 0.5;
}

.web-share-fade-in-up {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

button[aria-label="Close"] {
  background-color: black !important;
  color: white;
}

.enumeration {
  display: block;
  margin-top: 3rem;
  font-size: 1.5vh;
  opacity: 0.5;
  text-align: center;
}

.reloadIcon {
  margin-top: 1rem;
  height: 40px;
}

.fakeLink {
  color: #065cae;
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.1rem;
}

.divider {
  padding: 1rem;
}

.permissionWarning {
  padding-top: 2rem;
  text-align: center;
  color: #444;
}

.infoButton {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  height: 1.5rem;
  /* font-weight: 600; */
  width: fit-content;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 3rem; */
  /* mix-blend-mode: overlay; */
  text-align: center;
}
